* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#taula{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 0.5rem;
}

.puntuacio {
    position: absolute;
    left: 20px;
    top: 20px;
}